[Unit]
Description=Battery Notification Daemon
After=syslog.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/batteryd

[Install]
WantedBy=multi-user.target
